table {
    width: 100%;
}

td, th, tr {
    border: 1px solid #B1B1B1;
    text-align: center;
    padding: 8px;
  }
 

  tr:nth-child(even) {
    background-color:#F8F9FA;
  }

.table-section { 
  padding-right: 20rem;
   margin-right: 20rem;
    padding-top: 2rem;
    width: 100%;
}

.table-section-heading {
    display: flex;
    justify-content: space-between;
    margin: 20px     auto;
}

@media screen and (max-width: 1280px) {
  .table-section { 
    padding-right: 2rem;
    margin-right: 0rem;
      padding-top: 2rem;
   
  }
  
  }