/* CSS VARIABLES */
:root {
    --body-color: #F2F5F7;
    --nav-color: #3B89E2;
    --action-buttons-color: #909090;
    --white: #FFFFFF;
    --border-color:#C6C6C6;
    --font-color:#585858;   
    --font: Source Sans Pro;
}